<html>
<head>
<meta charset="utf-8">
<title>π数字转移矩阵</title>
<script src="https://unpkg.com/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://unpkg.com/vue@2/dist/vue.min.js"></script>
<script src="https://unpkg.com/canal.js/canal.min.js"></script>
<style>
#table td {
	font-size: 18px;
	padding: 8px;
}
</style>
</head>
<body>

	<div id="main">
		<table id="table">
			<tr>
				<td></td>
				<td v-for="j in axis" align="center"><b>{{j}}</b></td>
			</tr>
			<tr v-for="i in axis" :key="i">
				<td align="center"><b>{{i}}</b></td>
				<td v-for="j in axis" :key="total+'-'+i+'-'+j" :style="style(i,j)"
					align="center">{{(trans[i+'-'+j]*100/total).toFixed(4)}}</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript">
		new Vue({
			el : "#main",
			data : {
				axis : [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ],
				trans : {},
				total : 1
			},
			mounted : function()
			{
				var self = this;

				$.get("data/pi10w.txt", {}, function(data)
				{
					var goon = true;

					var source = function(idx)
					{
						return idx < data.length ? data[idx] : Canal.eod();
					};

					var count = {
						"total" : 0
					};

					var sleep = function(millis)
					{
						return new Promise(function(res)
						{
							setTimeout(res, millis);
						});
					};

					var pairs = Canal.of(source, function(c)
					{
						if (count.total >= data.length - 1)
						{
							goon = false;
						}
					}) //
					.zip(Canal.of(source).skip(1)) //
					.map(function(d)
					{
						return d[0] + "-" + d[1];
					}).batch(1000, function(c)
					{
						sleep(500).then(function()
						{
							count = c.fold(count, function(last, d)
							{
								var l = last[d];
								if (l == null)
								{
									l = 0;
								}
								l++;
								last[d] = l;
								last.total++;
								return last;
							});

							self.trans = count;
							self.total = count.total;
						});
					});
				}, "json");
			},
			computed : {
				max : function()
				{
					return Canal.of(this.trans).filter(function(d)
					{
						return d[0] != "total";
					}).values().filter(function(d)
					{
						return !isNaN(d);
					}).reduce(function(a, b)
					{
						return a > b ? a : b;
					}).get();
				},
				min : function()
				{
					return Canal.of(this.trans).filter(function(d)
					{
						return d[0] != "total";
					}).values().filter(function(d)
					{
						return !isNaN(d);
					}).reduce(function(a, b)
					{
						return a < b ? a : b;
					}).get();
				},
				span : function()
				{
					return this.max - this.min;
				}
			},
			methods : {
				ratio : function(d)
				{
					return isNaN(d) ? 0 : (d - this.min) / this.span;
				},
				color : function(i, j)
				{
					var r = this.ratio(this.trans[i + "-" + j]);
					return Math.floor(r * 155 + 35);
				},
				style : function(i, j)
				{
					var color = this.color(i, j);
					return {
						"background-color" : "rgb(0," + color + ",0)",
						"color" : "#FFF"
					};
				}
			}
		});
	</script>

</body>
</html>